<mat-card>
  <!--Allows access to the object of the form created in Angular-->
  <!--Assign the value to ngForm which is a directive in Angular -->
  <!--Angular material library used as reference for form styling and error display: https://material.angular.io/components/form-field/overview-->
  <div id='formSpace'>
      <form  (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <mat-form-field>
          <input
            matInput
            placeholder="email"
            type="email"
            name="email"
            ngModel
            required
            email
            #emailInput="ngModel">
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="password"
              type="password"
              name="password"
              ngModel
              required
              #passwordInput="ngModel">
              <mat-error *ngIf="passwordInput.invalid">Please enter the correct password</mat-error>
          </mat-form-field>
          <button
            style="width: 100px"
            mat-raised-button
            color="primary"
            type="submit">LOGIN</button>
      </form>
    </div>
</mat-card>
