
mat-form-field,
textarea {
  width: 100%;
}

.right-align {
  text-align: right;
  -moz-appearance: textfield;
}

form {
  display: flex;
  flex-direction: column;
}

:host {
  display: block;
  padding-top: 50px;
  padding-left: 50px;
  min-width: 280px;
}
